@import "tailwindcss";

:root {
  --background: #ffffff;
  --primary: #dc2626;
  --secondary: #000000;
}

@theme inline {
  --color-background: var(--background);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --font-heading: var(--font-inter);
  --font-body: var(--font-jakarta);
}

body {
  background: var(--background);
  color: var(--secondary);
  font-family: var(--font-jakarta), sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-inter), sans-serif;
}
